body {
    font-family: 'Inika', serif;
    background-color: #C0C0C0;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('empresa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* menu */
.nav {
    background-color: #0037a5;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
}

.menu {
    color: #fff;
    text-decoration: none;
    padding: 3px;
    transition: background-color 0.3s ease;
}

.menu {
    color: #d4d4d4;
    transition: 0.3s;
}


.menu:hover {
    color: #fff;
}


/* fim do menu */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    /* evita sobreposição com o menu */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #0044cc;
}

.bold-text {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

a .btn {
    background-color: #0044cc;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a .btn:hover {
    background-color: #003399;
}

html ::-webkit-scrollbar {
    width: 13px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #4673cc;
}

html ::-webkit-scrollbar-track {
    background: #fff;
}